.card {
    border-radius: 0.5rem;
    margin: 5px;
    display: inline-block;
    width: 100%;
}

.title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    text-align: left;
}

.values {
    font-size: 2.5rem;
    text-align: right;
    display: block; /* Ensure it takes up the full width */
}

.percent {
    font-size: 1rem;
    text-align: center;
}

.styled-text {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff18;
    font-family: Arial, sans-serif;
}

.styled-text h3 {
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom: 2px solid #ffffff; /* Add horizontal line */
    padding-bottom: 5px; /* Space between text and line */
}

.styled-text p {
    text-align: justify;
}
